html {
    height: 100%;
}
body {
    font: 100% 'Open Sans', helvetica, arial, sans-serif;
    background: #1a1a1a;
    overflow: scroll;
}
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon/icomoon.eot');
    src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.woff') format('woff'),
        url('../fonts/icomoon/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    min-height: 100%;
}
input, select, textarea, button {
    font: 100% 'Open Sans', helvetica, arial, sans-serif;
}
input::-ms-clear {
  width : 0;
  height: 0;
}
button {
    background: #dc3522;
    background: -moz-linear-gradient(top,  #dc3522 0%, #a8281c 95%, #dc3522 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dc3522), color-stop(95%,#a8281c), color-stop(100%,#dc3522));
    background: -webkit-linear-gradient(top,  #dc3522 0%,#a8281c 95%,#dc3522 100%);
    background: -o-linear-gradient(top,  #dc3522 0%,#a8281c 95%,#dc3522 100%);
    background: -ms-linear-gradient(top,  #dc3522 0%,#a8281c 95%,#dc3522 100%);
    background: linear-gradient(to bottom,  #dc3522 0%,#a8281c 95%,#dc3522 100%);
    border: none;
    border-top: 1px solid #f56656;
    color: #fff;
    box-shadow: 0 1px 1px #2A2C2B;
    text-align: center;
}
button:hover {
    background: #dc3522;
}
a {
    color: #DC3522;
    font-weight: normal;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

/* container css from bootstrap */
.container {
    margin-right: auto;
    margin-left: auto;
    *zoom: 1;
    box-shadow: 0 0 0.6em rgba(0,0,0,0.5);
}
.container:before, .container:after {
    display: table;
    content: "";
    line-height: 0;
}
.container:after {
    clear: both;
}

/* main css */
.container p {
    margin: 0;
}
.fixed {
    position: fixed;
    z-index: 2;
    margin-right: auto;
    margin-left: auto;
    *zoom: 1;
    top: 0;
}
.toolbar {
    background: #4B5957;
    color: #fff;
    line-height: 5em;
}
.toolbar > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #374140;
}
.toolbar > ul > li {
    position: relative;
    display: inline-block;
    width: 25%;
    height: 5em;
    text-align: center;
}
.toolbar > ul > li > div:hover {
    background: #374140;
    background-image: linear-gradient(bottom, #4B5957 0%, #374140 100%);
    background-image: -o-linear-gradient(bottom, #4B5957 0%, #374140 100%);
    background-image: -moz-linear-gradient(bottom, #4B5957 0%, #374140 100%);
    background-image: -webkit-linear-gradient(bottom, #4B5957 0%, #374140 100%);
    background-image: -ms-linear-gradient(bottom, #4B5957 0%, #374140 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #4B5957),
        color-stop(1, #374140)
    );
    cursor: pointer;
}
.toolbar > ul > li > .active {
    background: #374140;
    background-image: linear-gradient(bottom, #4B5957 0%, #374140 100%);
    background-image: -o-linear-gradient(bottom, #4B5957 0%, #374140 100%);
    background-image: -moz-linear-gradient(bottom, #4B5957 0%, #374140 100%);
    background-image: -webkit-linear-gradient(bottom, #4B5957 0%, #374140 100%);
    background-image: -ms-linear-gradient(bottom, #4B5957 0%, #374140 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #4B5957),
        color-stop(1, #374140)
    );
}
.toolbar3 > .active {
    color: #f56656;
}
.toolbar > ul > li > div {
    position: relative;
    border-left: 1px solid #374140;
    border-right: 1px solid #566664;
}
.toolbar > ul > li:first-child div {
    border-left: none;
}
.toolbar > ul > li:last-child div {
    border-right: none;
}
.toolbar > ul > li > div > p {
    display: inline-block;
    text-align: center;
    width: 100%;
    line-height: 3em;
    vertical-align: bottom;
}
.toolbar > ul > li span {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1em;
    margin-left: -0.5em;
    width: 1em;
    height: 1em;
    line-height: 1em;
    font-size: 1.15em;
    text-shadow: 1px 1px 0 #000;
}
.toolbar li div > ul {
    display: none;
    position: absolute;
    z-index: 5;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #1a1a1a;
    background: rgba(30,30,32,0.9);
    border: 1px solid #1a1a1a;
    border-color: rgba(26,26,26,0.6);
    border-top: none;
    width: 100%;
}
.toolbar li div > ul > li {
    padding: 0.4em;
    line-height: 1.5em;
}
.toolbar li div > ul > li:hover {
    color: #f56656;
}
.toolbar2, .toolbar4 {
    display: none;
    background: #4B5957;
    color: #fff;
}
.toolbar2 > form {
    border-top: 1px solid #566664;
    border-bottom: 1px solid #374140;
    height: 4em;
}
.toolbar4 {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 6;
    box-shadow: 0 0 1em #1a1a1a;
    min-width: 325px;
}
.toolbar4 > form {
    border-top: 1px solid #566664;
    border-bottom: 1px solid #374140;
}
.toolbar4 button {
    width: 5em;
    height: 2em;
    vertical-align: middle;
    margin-left: 0.5em;
}
.addfav > div:first-child {
    margin: 0.95em 15px 0.525em 15px;
}
.addfav > div:last-child {
    margin: 0.475em 15px 1.05em 15px;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: #000;
    background: rgba(0,0,0,0.6);
}
.search {
    position: relative;
    width: 40%;
    color: #fff;
    margin: 0.95em 15px 0.525em 15px;
}
.addfav {
    color: #fff;
}
input[type="text"] {
    display: inline-block;
    line-height: 2em;
    width: 100%;
    height: 2em;
    padding: 0 1.5em 0 0.25em;
    border: 1px solid #4B5957;
    background: #fff;
    background: rgba(255,255,255,0.8);
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
    vertical-align: middle;
    color: #353837;
}
.selectbox, .addfav input[type="text"] {
    display: inline-block;
    line-height: 2em;
    width: 200px;
    height: 2em;
    padding: 0 1.5em 0 0.25em;
    border: 1px solid #4B5957;
    background: #fff;
    background: rgba(255,255,255,0.8);
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
    vertical-align: middle;
    color: #353837;
}
.selectbox {
    position: relative;
}
.selectbox:hover {
    cursor: pointer;
}
.selectbox > ul {
    width: 100%;
    position: absolute;
    top: 2em;
    left: 0;
    display: none;
    list-style: none;
    margin: 0;
    padding: 0.5em 0;
    height: 9em;
    overflow: auto;
    background: #1a1a1a;
    background: rgba(0,0,0,0.8);
}
.selectbox .arrow {
    position: absolute;
    z-index: 3;
    right: 0;
    top: 0;
    width: 2em;
    line-height: 2em;
    height: calc(2em - 1px);
    color: #fff;
    padding: 0;
    text-align: center;
    font-size: 1em;
    background: #dc3522;
    background: -moz-linear-gradient(top,  #dc3522 0%, #a8281c 95%, #dc3522 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dc3522), color-stop(95%,#a8281c), color-stop(100%,#dc3522));
    background: -webkit-linear-gradient(top,  #dc3522 0%,#a8281c 95%,#dc3522 100%);
    background: -o-linear-gradient(top,  #dc3522 0%,#a8281c 95%,#dc3522 100%);
    background: -ms-linear-gradient(top,  #dc3522 0%,#a8281c 95%,#dc3522 100%);
    background: linear-gradient(to bottom,  #dc3522 0%,#a8281c 95%,#dc3522 100%);
    border-top: 1px solid #f56656;
    box-shadow: 0 1px 1px #2A2C2B;
}
.addfav .active {
    background: #fff;
}
.selectbox > ul > li {
    color: #fff;
    padding: 0 0.5em;
    line-height: 1.5em;
}
.selectbox > ul > li:hover {
    color: #dc3522;
}
input[type="text"]:focus, input[type="text"]:active {
    background: #fff;
    outline: 0;
    border: 1px solid #374140;
    color: #2A2C2B;
}
.search > button {
    vertical-align: middle;
}
.twitter-typeahead {
    width: 100%;
}
.tt-dropdown-menu {
    padding: 0.5em 1.5em 0.5em 0.25em;
    background: #1a1a1a;
    background: rgba(30,30,32,0.9);
    border: 1px solid #1a1a1a;
    border-color: rgba(26,26,26,0.6);
    border-top: none;
    width: 100%;
    margin-top: -1px;
}
.tt-suggestion:hover {
    color: #f56656;
}
.search button.remove {
    display: none;
    position: absolute;
    z-index: 3;
    right: -1.5em;
    top: 1em;
    margin-top: -0.25em;
    background: none;
    color: #374140;
    padding: 0;
    text-align: center;
    border: none;
    box-shadow: none;
    font-size: 0.9em;
}
.heading {
    font: bold 1.2em 'Open Sans';
    background: #dc3522;
    background: -moz-linear-gradient(top,  #dc3522 0%, #a8281c 95%, #dc3522 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dc3522), color-stop(95%,#a8281c), color-stop(100%,#dc3522));
    background: -webkit-linear-gradient(top,  #dc3522 0%,#a8281c 95%,#dc3522 100%);
    background: -o-linear-gradient(top,  #dc3522 0%,#a8281c 95%,#dc3522 100%);
    background: -ms-linear-gradient(top,  #dc3522 0%,#a8281c 95%,#dc3522 100%);
    background: linear-gradient(to bottom,  #dc3522 0%,#a8281c 95%,#dc3522 100%);
    border-top: 1px solid #f56656;
    border-bottom: 1px solid #2A2C2B;
    color: #fff;
}
.heading > div {
    display: inline-block;
    padding: 0;
}
.heading p {
    padding: 0 15px;
    line-height: 2.5em;
}
.currentday {
    position: relative;
    color: #fff;
    font-size: 1.1em;
    font-style: italic;
}
.currentday p {
    padding: 0 15px;
    line-height: 2.5em;
    background: #4B5957;
    border-top: 1px solid #566664;
    border-bottom: 1px solid #1a1a1a;
    box-shadow: 0 0.1em 0.4em #1a1a1a;
    /*background-image: linear-gradient(bottom, #4B5957 0%, #374140 100%);
    background-image: -o-linear-gradient(bottom, #4B5957 0%, #374140 100%);
    background-image: -moz-linear-gradient(bottom, #4B5957 0%, #374140 100%);
    background-image: -webkit-linear-gradient(bottom, #4B5957 0%, #374140 100%);
    background-image: -ms-linear-gradient(bottom, #4B5957 0%, #374140 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #4B5957),
        color-stop(1, #374140)
    );*/
}
.contents {
    margin-top: 8.2em;
}
.down {
    margin-top: 12.3em;
}
.contents .loading {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -32px;
}
.day {
    color: #fff;
    font-size: 1.1em;
    font-style: italic;
}
.time {
    background: #1E1E20;
    color: #fff;
    font-size: 0.9em;
    font-style: normal;
}
.show {
    position: relative;
    background: #2A2C2B;
    border-bottom: 1px solid #1a1a1a;
    border-top: 1px solid #353837;
    width: 100%;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    font-style: normal;
}
.show:hover {
    background: #353837;
    /*background: #DC3522;*/
    cursor: pointer;
    border-top: 1px solid #374140;
    /*border-top: 1px solid #f56656;*/
}
.show:hover > div {
    /*color: #000;*/
}
.show a:hover {
    color: #f56656;
}
.day > p {
    position: relative;
    padding: 0 15px;
    line-height: 2.5em;
    background: #4B5957;
    border-top: 1px solid #566664;
    border-bottom: 1px solid #1a1a1a;
    /*background-image: linear-gradient(bottom, #4B5957 0%, #374140 100%);
    background-image: -o-linear-gradient(bottom, #4B5957 0%, #374140 100%);
    background-image: -moz-linear-gradient(bottom, #4B5957 0%, #374140 100%);
    background-image: -webkit-linear-gradient(bottom, #4B5957 0%, #374140 100%);
    background-image: -ms-linear-gradient(bottom, #4B5957 0%, #374140 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #4B5957),
        color-stop(1, #374140)
    );*/
}
.time > p {
    padding: 5px 15px;
    border-bottom: 1px solid #1a1a1a;
}
.show > p {
    padding: 1em 15px 0.2em 15px;
    vertical-align: bottom;
}
.show > div {
    display: inline-block;
    vertical-align: bottom;
    padding: 0 0 1em 0;
    border-bottom: none;
    color: #fff;
    font-weight: normal;
}
.show > div p {
    padding: 0 15px;
}
.sid {
    width: 17.5%;
}
.network {
    width: 25%;
}
.title {
    width: 40%;
}
.ep {
    width: 17.5%;
}