/* responsive elements */
@media screen and (min-width: 980px) {
    .container, .fixed {
        width: 960px;
    }
    body {
        font-size: 100%;
    }
}
@media screen and (min-width: 768px) and (max-width: 979px) {
    .container, .fixed {
        width: 724px;
    }
    body {
        font-size: 0.9em;
    }
}
@media screen and (max-width: 767px) {
    .container, .fixed {
        width: 356px;
    }
    body {
        font-size: 0.8em;
    }
}